* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
    box-sizing: border-box;
}
body {
    background-color: #1499f8;
    color: #fff;
}
.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 26%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
    
}

.nav-list{
    width: 70%; 
    display: flex; 
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{ 
    color: rgb(197, 194, 194);
}

.rightNav{ 
    width: 30%;
    text-align: right;
    padding: 0 23px;
}



.background{
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.main-container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
}
.left, .right {
    flex-basis: 50%;
    padding: 10px;

}
textarea {
    width: 100%;
    height: 28%;
    background: #044969;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 20px;
}
iframe {
    width: 100%;
    height: 95%;
    background: #efefef;
    border: 0;
    outline: 0;
}
label i {
    margin-left: 10px;
    margin-right: 10px;
}
label {
    display: flex;
    align-items: center;
    background: #000;
    height: 30px;
}


.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}


@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 447px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    

    #search{
        width: 100%;
    }
    .burger{
    display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }

  footer p {
    margin: 0;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
  }

  .social-icons li {
    margin: 0 10px;
  }

  .social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }

  .social-icons a:hover {
    color: #3498db;
  }